body {
    background-color: #F5F7FB;
    font-family: 'Nunito', sans-serif;
    color: #032B45;
}
.btn {
    border:none;
}
.nav-link {
    font-size: 14px;
}
ul li {
    margin: 0px 10px;
}
header {
    background: rgb(74,93,108);
    background: linear-gradient(145deg, rgba(74,93,108,1) 0%, rgba(50,54,83,1) 81%); 
    height: 250px;
    position: relative;
}
.card-header{
    margin-top: 220px;
    background: none;
    border: none;
}
.profile-photo {
    background-image: url('../img/lerian.jpg');
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 10em;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    margin-bottom: 20px;
}
.profile-name{
    position: relative;
    bottom: 0px;
}