body {
  background-color: #353543;
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 1px;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover {
  color: #FFFFFF;
  -webkit-animation-name: icon;
          animation-name: icon;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

header {
  margin-top: 20px;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}

.header-title {
  font-weight: 600;
  font-size: 40px;
}

.header-desc {
  margin-top: 20px;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}

header .underline {
  height: 4px;
  width: 150px;
  background-color: orange;
  margin-top: -5px;
}

.social-media {
  color: #FFFFFF;
  margin-right: 10px;
  display: inline-block;
}

.social-media:hover {
  color: #FFFFFF;
  -webkit-animation-name: icon;
          animation-name: icon;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

footer p {
  color: #FFFFFF;
  font-size: 13px;
}

.circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #2D2D39;
  position: absolute;
  z-index: -1;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#skills {
  position: relative;
  z-index: 2;
}

#skills .container {
  background-color: #403F4F;
  padding: 20px 30px;
  border-radius: 30px;
}

#skills .card {
  background-color: #353543;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  margin: 10px;
}

#skills .card:hover {
  -webkit-animation-name: card;
          animation-name: card;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#skills .card-body {
  padding: 30px;
}

#skills .card h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
}

#skills .card p {
  font-weight: 100;
  font-size: 13px;
}

#skills .card a {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

#experience {
  margin-top: -150px;
  background-color: #272833;
  padding-top: 200px;
  color: #FFFFFF;
}

#experience h1 {
  font-weight: 600;
}

@-webkit-keyframes circle {
  0% {
    top: 0px;
    right: 0px;
  }
  100% {
    top: 100px;
    right: 50px;
  }
}

@keyframes circle {
  0% {
    top: 0px;
    right: 0px;
  }
  100% {
    top: 100px;
    right: 50px;
  }
}

@-webkit-keyframes card {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes card {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@-webkit-keyframes icon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes icon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@media (min-width: 768px) {
  header {
    margin-top: 10px;
  }
  .header-title {
    font-size: 50px;
  }
  .header-desc {
    font-size: 16px;
  }
}
/*# sourceMappingURL=apps.css.map */