$primary-color: #353543;
$secondary-color: #2D2D39;
$third-color: #403F4F;
$text-white: #FFFFFF;
$font-redHat: 'Red Hat Display', sans-serif;
$rounded-circle: 50%;

body {
    background-color: $primary-color;
    font-family: $font-redHat;
}
.nav-link {
    color: $text-white;
}
header {
    margin-top: 20px;
    color: $text-white;
    padding-left: 20px;
    padding-right: 20px;
}
.header-title {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
}
.header-desc {
    margin-top: 20px;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}
header .underline {
    height: 4px;
    width: 150px;
    background-color: orange;
    margin-top: -5px;
}
footer p {
    color: $text-white;
    font-size: 13px;
}

.circle {
    width: 600px;
    height: 600px;
    border-radius: $rounded-circle;
    background-color: $secondary-color;
    position: absolute;
    z-index: -1;
    animation-name: circle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#skills .container {
    background-color: $third-color;
    padding: 20px 30px;
    border-radius: 30px;
}

#skills .card {
    background-color: $primary-color;
    border-radius: 30px;
    border: none;
    color: $text-white;
    margin: 10px;
}
#skills .card-body {
    padding: 30px;
}
#skills .card h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}

#skills .card p {
    font-weight: 100;
    font-size: 13px;
}

#skills .card a {
    font-weight: 100;
    font-size: 13px;
    color: $text-white;
    text-decoration: none;
}



@keyframes circle {
    0% {
        top: 0px;
        right: 0px;
    }
    100% {
        top: 100px;
        right: 50px;
    }
}

@media (min-width: 768px) { 
    header {
        margin-top: 10px;
    }
    .header-title {
        font-size: 50px;
    }
    .header-desc {
        font-size: 16px;
    }
}
