$primary-color: #353543;
$secondary-color: #2D2D39;
$third-color: #403F4F;
$fourth-color: #272833;
$text-white: #FFFFFF;
$blue-color: #34B3FF;
$font-redHat: 'Red Hat Display', sans-serif;
$rounded-circle: 50%;

body {
    background-color: $primary-color;
    font-family: $font-redHat;
    letter-spacing: 1px;
}
.nav-link {
    color: $text-white;
}
.nav-link:hover {
    color: $text-white;
    animation-name: icon;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
header {
    margin-top: 20px;
    color: $text-white;
    padding-left: 20px;
    padding-right: 20px;
}
.header-title {
    font-weight: 600;
    font-size: 40px;
}
.header-desc {
    margin-top: 20px;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
}
header .underline {
    height: 4px;
    width: 150px;
    background-color: orange;
    margin-top: -5px;
}
.social-media {
    color: $text-white;
    margin-right: 10px;
    display: inline-block;
}
.social-media:hover {
    color: $text-white;
    animation-name: icon;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

footer p {
    color: $text-white;
    font-size: 13px;
}

.circle {
    width: 600px;
    height: 600px;
    border-radius: $rounded-circle;
    background-color: $secondary-color;
    position: absolute;
    z-index: -1;
    animation-name: circle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#skills {
    position: relative;
    z-index: 2;
}
#skills .container {
    background-color: $third-color;
    padding: 20px 30px;
    border-radius: 30px;
}

#skills .card {
    background-color: $primary-color;
    border-radius: 30px;
    border: none;
    color: $text-white;
    margin: 10px;
}
#skills .card:hover {
    animation-name: card;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#skills .card-body {
    padding: 30px;
}
#skills .card h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}

#skills .card p {
    font-weight: 100;
    font-size: 13px;
}

#skills .card a {
    font-weight: 100;
    font-size: 13px;
    color: $text-white;
    text-decoration: none;
}

#experience {
    margin-top: -150px;
    background-color: $fourth-color;
    padding-top: 200px;
    padding-bottom: 50px;
    color: $text-white;
    padding-left: 10px;
    padding-right: 10px;
}

#experience h1 {
    font-weight: 600;
}

.company-name {
    font-weight: 600;
}
.company-role {
    background-color: $blue-color;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0px;
    margin-right: 20px;
}

.company-role:hover {
    animation-name: card;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.company-desc {
    font-size: 15px;
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 20px;
}

.company-brand:hover {
    animation-name: card;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes circle {
    0% {
        top: 0px;
        right: 0px;
    }
    100% {
        top: 100px;
        right: 50px;
    }
}

@keyframes card {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

@keyframes icon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@media (min-width: 768px) { 
    header {
        margin-top: 10px;
    }
    .header-title {
        font-size: 50px;
    }
    .header-desc {
        font-size: 16px;
    }
}
