@use 'keyframe' as key;
@use 'animation' as anim;
@use 'media' as med;

@include key.keyframe;
@include med.media;

$primary-color: #353543;
$secondary-color: #2D2D39;
$third-color: #403F4F;
$fourth-color: #272833;
$text-white: #FFFFFF;
$text-gray: #93919b;
$blue-color: #34B3FF;
$text-yellow: #FFC700;
$font-redHat: 'Red Hat Display', sans-serif;
$rounded-circle: 50%;

body {
    background-color: $primary-color;
    font-family: $font-redHat;
    letter-spacing: 1px;
}
.nav-link {
    color: $text-white;
}
.nav-link:hover {
    color: $text-white;
    @include anim.animation(icon, 250ms);
}
header {
    margin-top: 20px;
    color: $text-white;
    padding-left: 20px;
    padding-right: 20px;
}
.header-title {
    font-weight: 600;
    font-size: 40px;
}
.header-desc {
    margin-top: 20px;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
}
header .underline {
    height: 4px;
    width: 150px;
    background-color: orange;
    margin-top: -5px;
}
.social-media {
    color: $text-white;
    margin-right: 10px;
    display: inline-block;
}
.social-media:hover {
    color: $text-white;
    @include anim.animation(icon, 250ms);
}

footer p {
    color: $text-white;
    font-size: 13px;
}

.circle {
    width: 600px;
    height: 600px;
    border-radius: $rounded-circle;
    background-color: $secondary-color;
    position: absolute;
    z-index: -1;
    @include anim.animation(circle, 2s);
}
#skills {
    position: relative;
    z-index: 2;
}
#skills .container {
    background-color: $third-color;
    padding: 20px 30px;
    border-radius: 30px;
}

#skills .card {
    background-color: $primary-color;
    border-radius: 30px;
    border: none;
    color: $text-white;
    margin: 10px;
}

#skills .card-body {
    padding: 30px;
}
#skills .card h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}

#skills .card p {
    font-weight: 100;
    font-size: 13px;
}

#skills .card a {
    font-weight: 100;
    font-size: 13px;
    color: $text-white;
    text-decoration: none;
}

#experience {
    margin-top: -150px;
    background-color: $fourth-color;
    padding-top: 200px;
    padding-bottom: 50px;
    color: $text-white;
    padding-left: 10px;
    padding-right: 10px;
}

#experience h1 {
    font-weight: 600;
}

.company-name {
    font-weight: 600;
}
.company-role {
    background-color: $blue-color;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0px;
    margin-right: 20px;
}

.company-role:hover, .company-brand:hover, #skills .card:hover{
    @include anim.animation(card, 250ms);
}

.company-desc {
    font-size: 15px;
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 20px;
    color: $text-gray;
}

#portofolio {
    padding-top: 60px;
    background-color: $third-color;
    padding-bottom: 50px;
    color: $text-white;
    padding-left: 10px;
    padding-right: 10px;
}

.port-container {
    padding: 30px 0 0 30px;
    background-color: $secondary-color;
    border-radius: 30px;
    margin: 0 10px;
    margin-bottom: 30px;
}
.port-image {
    width: 100%;
    height: 160px;
    background-color: $blue-color;
    border-radius: 20px 0px 30px 0px;
}

#portofolio h6 {
    font-weight: 700;
    color: $text-yellow;
}

#portofolio span {
    margin-bottom: 20px;
    text-decoration: none;
    color: $text-white;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
}